extends layout

block fbTags
  meta(property='og:description', content='#{desc}')
  meta(property='og:url', content='clevertower.com/outside#{location}')
  meta(property='og:image', content='/img/city#{location}.jpg')
  meta(property='og:type', content='clevertower:city')

block content
  .container
    .row
      #city.col-md-8
        if city
          .fade.in(style='background-image: url(\'/img/city#{location}.jpg\');')
            button.close(type='button') ×
            .row
              .col-md-3
                h1= name
                .follow-controls
                  button.btn.btn-primary.follow(type="button") Follow
              p.col-md-6= desc
      .pull-right.col-md-4
        form#activity-filter-form.well.well-sm
          #general-controls
            .control-group.center
              .controls
                #filters.btn.btn-default-group(data-toggle='buttons-radio')
                  button.btn.btn-default.active(type='button') All
                  button.btn.btn-default(data-filter='new_listing', type='button', rel='tooltip', data-original-title='Listing')
                    i.glyphicon.glyphicon-listing
                  button.btn.btn-default(data-filter='new_property', type='button', rel='tooltip', data-original-title='Building')
                    i.glyphicon.glyphicon-building
                  button.btn.btn-default(data-filter='new_post', type='button', rel='tooltip', data-original-title='Posts')
                    i.glyphicon.glyphicon-status
          #specific-controls.form-horizontal
        #map-container
          .position-relative
            button#search-map.btn.btn-google-maps(type='button', rel='tooltip', title='', data-original-title='Redo search')
              i.glyphicon.glyphicon-repeat
            #mapCanvas
      .col-md-8.content
        #activities.thumbnails
          .list-view.col-md-6
          .list-view.col-md-6
        .loading.center No one has posted any thing here yet.
        .pagination
          ul
  #view-content-modal.modal.modal-wide.modal-picture.hide
